<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<title>Global real-time trade heatmap 2</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="https://www.currencyfair.com/cf-content/themes/cfwp/css/features.css" type="text/css" />
<link rel="stylesheet" href="/css/plain.css" type="text/css" />

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="/js/heatmap.js"></script>
<script type="text/javascript" src="/js/heatmap-gmaps.js"></script>
<script type="text/javascript" src="/js/browser-check.js"></script>
  
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var options = {
          title: 'Most Active Pairs',
          is3D: true,
        };
        
      }
    </script>

</head>
<body>
	<div id="main">
		<div id="heatmapArea"></div>
			<div id="rtopArea"></div>
			<div id="rmidArea">
		 		<div id="piechart_3d" style="width: 300px; height: 180px;"></div>
			</div>
			<div id="rbotArea"></div>
		<div style="position: absolute; width: 1370px; top: 600px; left: 10px; text-align: right;">
			<div id="gen" class="btn"></div>
			<br />
			<a href="http://www.patrick-wied.at/static/heatmapjs/">heatmap.js</a> by <a href="http://www.patrick-wied.at" target="_blank">Patrick Wied</a>
			<div id="debug" style="position: absolute; width: 1200px; top: 100px; left: 10px; text-align: left; color:grey; font-size: x-small"></div>
		</div>
	</div>
	
	<script type="text/javascript">
/*<![CDATA[*/
var map;
var heatmap; 

window.onload = function(){

	//var myLatlng = new google.maps.LatLng(48.3333, 16.35);
	var myLatlng = new google.maps.LatLng(53.41291, -8.24389);
	var myOptions = {
	  //zoom: 7,
	  zoom: 2,
	  center: myLatlng,
	  //mapTypeId: google.maps.MapTypeId.ROADMAP,
	  //mapTypeId: google.maps.MapTypeId.SATELLITE,
	  mapTypeId: google.maps.MapTypeId.HYBRID,
	  disableDefaultUI: false,
	  scrollwheel: false,
	  draggable: false,
	  navigationControl: false,
	  mapTypeControl: false,
	  scaleControl: false,
	  disableDoubleClickZoom: false
	};
	map = new google.maps.Map(document.getElementById("heatmapArea"), myOptions);
	
	heatmap = new HeatmapOverlay(map, {
		"radius":10, 
		"visible":true, 
		"opacity":50,
		"gradient": { 0.45: "rgb(0,0,255)", 0.55: "rgb(0,255,255)", 0.65: "rgb(0,255,0)", 0.95: "yellow", 1.0: "rgb(255,0,0)" }
		});
	
	var testData={
    	};
	
	// this is important, because if you set the data set too early, the latlng/pixel projection doesn't work
	google.maps.event.addListenerOnce(map, "idle", function(){
		heatmap.setDataSet(testData);
	});
	
	// Register with SSE Server Sent Event publisher	
	if (typeof (EventSource) !== "undefined" && !isIE() ) {
        var source = new EventSource("http://localhost:8181/tradestream");
        source.onmessage = function(event)  {
        	document.getElementById("debug").innerHTML = event.data;
        	obj = JSON.parse(event.data);
          	heatmap.addDataPoint(obj.lat, obj.lng, 1);
        	var i = 0;
          	document.getElementById("rtopArea").innerHTML = 
        		"<img src=\"/img/flags/" + obj.currencyFrom + ".gif\" style=\"vertical-align: bottom;\" >/" +
        		"<img src=\"/img/flags/" + obj.currencyTo + ".gif\" style=\"vertical-align: bottom;\" >" +
        		" @ [" + obj.rate + "] <br/>"
        		+ document.getElementById("rtopArea").innerHTML;
        		
        		
        	 var options = {
                     title: 'Most Active Pairs',
                     is3D: true,
                   };
        	 var data = google.visualization.arrayToDataTable([
        	                                                	['Pair', 'Volume'],
        	                                                    ['EUR/USD',     1],
        	                                                    ['EUR/GBP',      1],
        	                                                    ['Eat',      1],
        	                                                    ['Commute',  1],
        	                                                    ['Watch TV', 1],
        	                                                    ['Sleep',    1]
        	                                                ]);
			//var data = google.visualization.arrayToDataTable([obj.volume]);
			var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        	chart.draw(data, options);
       	};
       	
       	
       
              
              
     
	} else {
		document.getElementById("rtopArea").innerHTML = "Sorry, your browser does not support server-sent events... #bummer";
		document.getElementById("rtopArea").innerHTML += "<br>";
		document.getElementById("rtopArea").innerHTML += "<img src=\"/img/incompatible_ie.gif\" width=\"31\" height=\"30\" alt=\"Internet Explorer\" title=\"Internet Explorer\">";
		document.getElementById("rtopArea").innerHTML += "<img src=\"/img/compatible_firefox.gif\" width=\"31\" height=\"30\" alt=\"Firefox\" title=\"Firefox\">";
		document.getElementById("rtopArea").innerHTML += "<img src=\"/img/compatible_opera.gif\" width=\"28\" height=\"30\" alt=\"Opera\" title=\"Opera\">";
		document.getElementById("rtopArea").innerHTML += "<img src=\"/img/compatible_chrome.gif\" width=\"31\" height=\"30\" alt=\"Google Chrome\" title=\"Google Chrome\">";
		document.getElementById("rtopArea").innerHTML += "<img src=\"/img/compatible_safari.gif\" width=\"28\" height=\"30\" alt=\"Safari\" title=\"Safari\">";
	}
	
};
/*]]>*/
</script>

</body>
</html>